/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 Aug, 2015, 4:08:00 PM
    Author     : VINIT
*/

//#logo-container{max-width: 100%; height: 140px auto;position: relative;background: #20242C;}
    
    
    #custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 16px;
    background-color: rgba(204, 80, 2, 1);
    background: -webkit-linear-gradient(top, rgba(255, 98, 0, 1) 0%, rgba(204, 80, 2, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 98, 0, 1) 0%, rgba(204, 80, 2, 1) 100%);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    
    color: rgba(255, 255, 255, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(230, 225, 225, 1);
    background-color: rgba(145, 45, 6, 1);
    background: -webkit-linear-gradient(top, rgba(255, 94, 0, 1) 0%, rgba(145, 45, 6, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 94, 0, 1) 0%, rgba(145, 45, 6, 1) 100%);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(245, 245, 245, 1);
    background-color: rgba(201, 57, 0, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #c93900;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #c93900;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #c93900;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #cc5002;
} 

.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #da5501;
  font-size: 16px;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #AA3804;;
  background-color: #AA3804;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #da5501;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f2e7db;
    background-color: #AA3804;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f2e7db;
    
  }
}